<div class="d-flex justify-content-between mb-4">
    <div class="h4">Create New Language</div>
    <div><a href="list-lenguaje" class="btn btn-primary">Go to List</a></div>
</div>
<form action="">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword">
        </div>
      </div>
    <button class="btn btn-success" type="submit">Save</button>
</form>
