<div class="d-flex justify-content-between mb-4">
    <div class="h4">Create New Product</div>
    <div><a href="product" class="btn btn-primary">Go to List</a></div>
</div>
<form class="row g-3" [formGroup]="Productformgroup" (ngSubmit)="onSubmit()">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Description</label>
    <input type="text" class="form-control" name="data_description" formControlName="name">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Price</label>
    <input type="text" class="form-control" name="data_price" formControlName="price">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Imagen Producto</label>
    <input type="file" class="form-control" name="data_img" placeholder="" formControlName="imgProduct">
  </div>
  <div class="col-6">
    <label for="inputAddress2" class="form-label">Stock</label>
    <input type="text" class="form-control" name="data_stock" formControlName="stock">
  </div>
  <div class="col-md-6">
    <label class="form-label">Color</label>
    <input type="text" class="form-control" name="data_color" formControlName="color" />
  </div>
  <div class="col-md-4">
    <label class="form-label">Category</label>
    <select name="categorys" class="form-select" formControlName="categoryId"  >
      <option selected>Select Option</option>
      <option *ngFor="let cat of categoriaList$|async" value="{{ cat.id }}">{{ cat.name }}</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>