<p>view-product works!</p>

<div class="d-flex justify-content-between">
    <div class="h4">List</div>
    <div><a href="create-product" class="btn btn-primary">Create</a></div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>STOCK</th>
            <th>IMG</th>
            <th>COLOR</th>
            <th>REVIEWS</th>
            <th>AVAILABLE</th>
            <th>CATEGORY</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productList$|async; index as i; first as isFirst">
            <td>{{ item.name }} </td>
            <td>{{ item.price }} </td>
            <td>{{ item.stock }}</td>
            <td><img src="{{ item.imgProduct }}" alt="" width="100"></td>
            <td>{{ item.color }}</td>
            <td>{{ item.reviews }}</td>
            <td>{{ item.isAvailable }}</td>
            <td>{{ item.CategoryId }}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<hr>
<div class="row">
    <div class="col-lg-4 col-md-6 mb-4 mt-4" *ngFor="let item of productList$|async">
        <div class="card-group" >
            <div class="card h-100" >
              <img src="{{ item.imgProduct }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            </div>
        </div>
    </div>
</div>