<div class="d-flex justify-content-between">
    <div class="h4">List</div>
    <div><a href="create-lenguaje" class="btn btn-primary">Create</a></div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>LANGUAGE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lenguajeList$|async; index as i; first as isFirst">
            <td>{{ item.lenguajeId }} </td>
            <td>{{ item.lenguajeName }} </td>
            <td></td>
        </tr>
    </tbody>
</table>

<hr>
<div class="row">
    <div class="col-lg-4 col-md-6 mb-4 mt-4" *ngFor="let lista of lenguajeList$|async">
        <div class="card-group" >
            <div class="card h-100" >
              <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ lista.lenguajeName }}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            </div>
        </div>
    </div>
</div>
